<%= form_with(model: usr, local: true) do |form| %>
  <% if usr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usr.errors.count, "error") %> prohibited this usr from being saved:</h2>

      <ul>
      <% usr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Imie %>
    <%= form.text_field :Imie, id: :usr_Imie %>
  </div>

  <div class="field">
    <%= form.label :nazwisko %>
    <%= form.text_field :nazwisko, id: :usr_nazwisko %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :usr_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :usr_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :usr_password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
