<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usrs.each do |usr| %>
      <tr>
        <td><%= usr.Imie %></td>
        <td><%= usr.nazwisko %></td>
        <td><%= usr.email %></td>
        <td><%= link_to 'Show', usr %></td>
        <td><%= link_to 'Edit', edit_usr_path(usr) %></td>
        <td><%= link_to 'Destroy', usr, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_usr_path %>
